
p {
  background-color: rgb(123, 166, 180);
}

.text-class {
  background-color: rgb(81, 172, 81);
}

#unique {
  background-color: rgb(226, 129, 129);
}

[data-color] {
  background-color: rgb(219, 219, 138);
}

div span {
  background-color: rgb(109, 169, 207);
}

section > p {
  background-color: rgb(219, 0, 33);
}

p.sequence {
  background-color: rgb(29, 180, 173);
}

.box[data-box] {
  background-color: rgb(0, 255, 34);
}

div#combo {
  background-color: rgb(22, 93, 184);
}

article div.inner {
  background-color: rgb(255, 255, 255);
}
